html {
  font-size: 62.5%;
  /* 62.5% of 16px is 10px which is 1rem */
  min-height: 100%;
}

body {
  // font-family: 'Montserrat', sans-serif; //! for bold headings
  font-family: "Inconsolata", monospace;
}
