//! variables - colors_scheme one
$orange_base: #FF7900;
$orange_faded: #FCBB6D;
$orange_gold: #FFA10D;
$orange_mandarin: #FF8C00;
$orange_strong: #FF5C0D;

//! variables - colors_scheme two
$red: #FF3221;
$lila_strong: #FF14B3;
$purple: #B47EC8;
$pinkDark: #E175E0;
$pinkLight: #DCA6D8;

//! variables - colors_scheme bW and greyscale
$greyLight: #CCCCCC;
$greyDark: #737373;
$white: #FFFFFF;
$almostBlack: #292929;
$almostWhite: #F2F2F2;

//! fonts variables
$text: "Inconsolata",
monospace;
$headings: 'Montserrat',
sans-serif;

//! JE_Bearing
$je_light: #1a9d7e;
$je_dark: #00703c;

//! Dental_Strategy
$ds_main: #008000;