<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Camillo's Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata%7CMontserrat:300,400,500,700" rel="stylesheet" />
  <link rel="shortcut icon" type="image/png" href="images/favicon/favicon_black.png" />
  <link rel="stylesheet" href="css/sal.css">
  <link rel="stylesheet" href="css/main.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.4.2/lottie.min.js" type="text/javascript"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
    integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>

  <!-- Lottie BodyMovin Animation -->
  <div id="bm"></div>

  <!-- MAIN CONTENT and VUE instance-->
  <main id="app">
    <h1 class="hidden">Angelozzi Camillo Portfolio</h1>

    <!-- HEADER -->
    <header id="mainHeader">
      <h2 class="hidden">Header</h2>
      <!-- Hamburger Navigation -->
      <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>
        <div class="navigation__background">&nbsp;</div>
        <nav class="navigation__nav">
          <h3 class="hidden">Main Navigation</h3>
          <ul class="navigation__list">
            <li class="navigation__item" v-for="item in navigationList">
              <a :href="'#'+item" class="navigation__link">{{ item }}</a>
            </li>
            <ul id="social">
              <li><a href="https://www.linkedin.com/in/camillo-angelozzi-a0b5a229/" target="_blank" id="in"><i
                    class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="https://github.com/cangelozzi" target="_blank" id="gh"><i class="fab fa-github"></i></a>
              </li>
              <li><a href="https://www.behance.net/cangelozzif2db" target="_blank" id="be"><i
                    class="fab fa-behance"></i></a>
              </li>
            </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- HEADER end -->

    <!-- logo image -->
    <a href=""><img id="mainLogo" src="images/logo/logo.svg" alt="Camillo Main Logo"></a>

    <!-- HERO -->
    <section id="hero">
      <h2 class="hidden">HERO introduction section</h2>

      <!-- tagline -->
      <div id="hero__tagline">
        <p id="hero__tagline-lineOne">Hello<span>.</span></p>
        <p id="hero__tagline-lineTwo">I am </p>
        <p id="hero__tagline-lineThree">Camillo<span>.</span></p>
      </div>

      <!-- Typewriter effect presentation -->
      <div id="presentation">
        <h1>_
          <span class="txt-type" data-wait="2000"
            data-words='["I am a curious Developer", "I am a passionate Designer", "I am an Explorer", "I am a Creator"]'></span>
        </h1>
      </div>

    </section>
    <!-- HERO end -->


    <!-- SKILLS -->
    <section id="skills">
      <h2>Skills<span>.</span></h2>

      <div id="mySkills">
        <div class="skill" v-for="skill in skills" data-sal-duration="800" data-sal="slide-up" data-sal-delay="100"
          data-sal-easing="ease-out-bounce">
          <i :class="skill.icon"></i>

          <h3 class="hidden">Skills Title and Description</h3>
          <h3 class="skill__title">{{ skill.title }}</h3>
          <p class="skill__desc">{{ skill.desc }}</p>
        </div>
      </div>

    </section>
    <!-- SKILLS end -->

    <!-- WORKS and EXPLORATIONS -->
    <section id="works">
      <h2>Works<span>.</span></h2>

      <div class="gallery">

        <!-- WORKS. -->
        <div id="myWorks" data-state="0">
          <div class="big-images" v-if="projectsData.length">
            <div class="ui-big-image" data-key="0">
              <img :src="'images/gallery/'+projectsData[0].project_img" alt="Dental Strategy project" />
            </div>
            <div class="ui-big-image" data-key="1">
              <img :src="'images/gallery/'+projectsData[1].project_img" alt="Team Canada project" />
            </div>
            <div class="ui-big-image" data-key="2">
              <img :src="'images/gallery/'+projectsData[2].project_img" alt="Hex-to-Text project" />
            </div>
            <div class="ui-big-image" data-key="3">
              <img :src="'images/gallery/'+projectsData[3].project_img" alt="Moog Sub37 Club project" />
            </div>
            <div class="ui-big-image" data-key="4">
              <img :src="'images/gallery/'+projectsData[4].project_img" alt="Blockchain101 project" />
            </div>
          </div>
          <div class="thumbs" v-if="projectsData.length">
            <div class="ui-thumbnail" tabindex="-1" data-key="0" @click="moveImg(0)">
              <img :src="'images/thumbs/'+projectsData[0].project_thumb_img" alt="Dental Strategy project" />
              <div class="thumb-selected" data-flip-key="thumb-sel"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="1" @click="moveImg(1)">
              <img :src="'images/thumbs/'+projectsData[1].project_thumb_img" alt="Team Canada project" />
              <div class="thumb-selected" data-flip-key="thumb-sel"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="2" @click="moveImg(2)">
              <img :src="'images/thumbs/'+projectsData[2].project_thumb_img" alt="Hex-to-Text project" />
              <div class="thumb-selected" data-flip-key="thumb-sel"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="3" @click="moveImg(3)">
              <img :src="'images/thumbs/'+projectsData[3].project_thumb_img" alt="Moog Sub37 Club project" />
              <div class="thumb-selected" data-flip-key="thumb-sel"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="4" @click="moveImg(4)">
              <img :src="'images/thumbs/'+projectsData[4].project_thumb_img" alt="Blockchain101 project" />
              <div class="thumb-selected" data-flip-key="thumb-sel"></div>
            </div>
          </div>
          <div class="ui-content">

            <nav class="ui-nav">
              <h3 class="hidden">Works Gallery Navigation</h3>
              <button @click="moveImg('PREV')" id="prev" tabindex="-1" title="Previous">&lt;</button>
              <button @click="moveImg('NEXT')" id="next" tabindex="-1" title="Next">&gt;</button>
            </nav>

            <div class="ui-articles" v-if="projectsData.length">
              <article class="ui-article" data-key="0">
                <h2 class="ui-title">{{ projectsData[0].project_name }}</h2>
                <p class="ui-body">{{ projectsData[0].project_description }}</p>
                <a class="visitSite" :href="projectsData[0].project_url" target="_blank">Case Study</a>
              </article>
              <article class="ui-article" data-key="1">
                <h2 class="ui-title">{{ projectsData[1].project_name }}</h2>
                <p class="ui-body">{{ projectsData[1].project_description }}</p>
                <a class="visitSite" :href="projectsData[1].project_url" target="_blank">Visit Website</a>
              </article>
              <article class="ui-article" data-key="2">
                <h2 class="ui-title">{{ projectsData[2].project_name }}</h2>
                <p class="ui-body">{{ projectsData[2].project_description }}</p>
                <a class="visitSite" :href="projectsData[2].project_url" target="_blank">Case Study</a>
              </article>
              <article class="ui-article" data-key="3">
                <h2 class="ui-title">{{ projectsData[3].project_name }}</h2>
                <p class="ui-body">{{ projectsData[3].project_description }}</p>
                <a class="visitSite" :href="projectsData[3].project_url" target="_blank">Visit Website</a>
              </article>
              <article class="ui-article" data-key="4">
                <h2 class="ui-title">{{ projectsData[4].project_name }}</h2>
                <p class="ui-body">{{ projectsData[4].project_description }}</p>
                <a class="visitSite" :href="projectsData[4].project_url" target="_blank">Learn about Blockchain</a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Explorations. -->
    <section id="explorations">
      <h2>Explorations<span>.</span></h2>

      <div class="gallery">

        <div id="myExplorations" data-state="0">
          <div class="big-images" v-if="projectsData.length">
            <div class="ui-big-image" data-key="0">
              <img :src="'images/gallery/'+projectsData[5].project_img" alt="Blockchain project" />
            </div>
            <div class="ui-big-image" data-key="1">
              <img :src="'images/gallery/'+projectsData[6].project_img" alt="Aqua project" />
            </div>
            <div class="ui-big-image" data-key="2">
              <img :src="'images/gallery/'+projectsData[7].project_img" alt="Cosmetics project" />
            </div>
            <div class="ui-big-image" data-key="3">
              <img :src="'images/gallery/'+projectsData[8].project_img" alt="Titan project" />
            </div>
            <div class="ui-big-image" data-key="4">
              <img :src="'images/gallery/'+projectsData[9].project_img" alt="Roku FBK project" />
            </div>
          </div>
          <div class="thumbs" v-if="projectsData.length">
            <div class="ui-thumbnail" tabindex="-1" data-key="0" @click="moveImg(0)">
              <img :src="'images/thumbs/'+projectsData[5].project_thumb_img" alt="Blockchain project" />
              <div class="thumb-selected" data-flip-key="thumb-sel"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="1" @click="moveImg(1)">
              <img :src="'images/thumbs/'+projectsData[6].project_thumb_img" alt="Aqua project" />
              <div class="thumb-selected" data-flip-key="thumb-sel"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="2" @click="moveImg(2)">
              <img :src="'images/thumbs/'+projectsData[7].project_thumb_img" alt="Cosmetics project" />
              <div class="thumb-selected" data-flip-key="thumb-sel"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="3" @click="moveImg(3)">
              <img :src="'images/thumbs/'+projectsData[8].project_thumb_img" alt="Titan project" />
              <div class="thumb-selected" data-flip-key="thumb-sel"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="4" @click="moveImg(4)">
              <img :src="'images/thumbs/'+projectsData[9].project_thumb_img" alt="Roku FBK project" />
              <div class="thumb-selected" data-flip-key="thumb-sel"></div>
            </div>
          </div>
          <div class="ui-content">

            <nav class="ui-nav">
              <h3 class="hidden">Works Gallery Navigation</h3>
              <button @click="moveImg('PREV')" id="prev" tabindex="-1" title="Previous">&lt;</button>
              <button @click="moveImg('NEXT')" id="next" tabindex="-1" title="Next">&gt;</button>
            </nav>

            <div class="ui-articles" v-if="projectsData.length">
              <article class="ui-article" data-key="0">
                <h2 class="ui-title">{{ projectsData[5].project_name }}</h2>
                <p class="ui-body">{{ projectsData[5].project_description }}</p>
                <a class="visitSite" :href="projectsData[5].project_url" target="_blank">See it on GitHub</a>
              </article>
              <article class="ui-article" data-key="1">
                <h2 class="ui-title">{{ projectsData[6].project_name }}</h2>
                <p class="ui-body">{{ projectsData[6].project_description }}</p>
                <a class="visitSite" :href="projectsData[6].project_url" download>Download Style Guide</a>
              </article>
              <article class="ui-article" data-key="2">
                <h2 class="ui-title">{{ projectsData[7].project_name }}</h2>
                <p class="ui-body">{{ projectsData[7].project_description }}</p>
                <a class="visitSite" :href="projectsData[7].project_url" target="_blank">See it on Youtube</a>
              </article>
              <article class="ui-article" data-key="3">
                <h2 class="ui-title">{{ projectsData[8].project_name }}</h2>
                <p class="ui-body">{{ projectsData[8].project_description }}</p>
                <a class="visitSite" :href="projectsData[8].project_url" target="_blank">Visit Website</a>
              </article>
              <article class="ui-article" data-key="4">
                <h2 class="ui-title">{{ projectsData[9].project_name }}</h2>
                <p class="ui-body">{{ projectsData[9].project_description }}</p>
                <a class="visitSite" :href="projectsData[9].project_url" target="_blank">Try it!</a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- WORKS and EXPLORATIONS end -->

    <!-- ABOUT -->
    <section id="about">
      <h2>About<span>.</span></h2>

      <div class="aboutMe">

        <div class="infograph">
          <img src="images/AbouteMe_Infographic.svg" alt="about me image">
        </div>

        <div class="me">
          <p data-sal-duration="900" data-sal="slide-right" data-sal-delay="300" data-sal-easing="ease-out-bounce">I
            speak Italian, English, Spanish and Hungarian.</p>
          <p data-sal-duration="900" data-sal="slide-right" data-sal-delay="500" data-sal-easing="ease-out-bounce">I
            run marathons, play poker, foosball and train kids soccer teams.</p>
          <p data-sal-duration="900" data-sal="slide-right" data-sal-delay="700" data-sal-easing="ease-out-bounce">Pink
            Floyd are my legends, and I have a Diploma in Sound Design.</p>
          <p data-sal-duration="900" data-sal="slide-right" data-sal-delay="900" data-sal-easing="ease-out-bounce">I
            love connecting Creativity and Technology.</p>
          <p data-sal-duration="900" data-sal="slide-right" data-sal-delay="1000" data-sal-easing="ease-out-bounce">
            Learning
            is my SuperPower</p>
        </div>

      </div>

    </section>
    <!-- ABOUT end -->

    <!-- ABOUT -->
    <section id="contact">
      <h2>Contact<span>.</span></h2>

      <div id="msg">
        <a href="includes/contact.php">Send Me a Message</a>
      </div>

      <div id="cv">
        <a href="data/Angelozzi_Camillo_resume.pdf" download>Download my Resume</a>
      </div>

      <div id="contact_social">
        <p>...be curious on my social</p>
        <ul id="socialContact">
          <li><a href="https://www.linkedin.com/in/camillo-angelozzi-a0b5a229/" target="_blank" id="inCon"><i
                class="fab fa-linkedin-in"></i></a></li>
          <li><a href="https://github.com/cangelozzi" target="_blank" id="ghCon"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.behance.net/cangelozzif2db" target="_blank" id="beCon"><i
                class="fab fa-behance"></i></a></li>
        </ul>
      </div>


    </section>
    <!-- ABOUT end -->


    <!-- FOOTER -->
    <footer id="footer">
      <h2 class="hidden">Website Footer</h2>

      <div class="footer__navigation">
        <ul class="footer__navigation-list">
          <li class="footer__navigation-item"><a href="#home">&copy; 2019 by Camillo Angelozzi</a></li>
          <li class="footer__navigation-item"><a href="#home">-</a></li>
          <li class="footer__navigation-item"><a href="#home">Let's Connect</a></li>

        </ul>
      </div>

    </footer>

  </main>

  <script src="js/sal.js"></script>
  <script src="js/flipping.js"></script>
  <script src="js/app.js"></script>
</body>

</html>