#footer {
  padding-bottom: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;

  margin: 8rem 0 6rem 0;

}

.footer__navigation {
  border-top: 1px solid $greyDark;
  padding-top: 2rem;
  display: inline-block;

  &-list {
    list-style: none;
  }

  &-item {
    display: inline-block;

    a {
      color: $almostBlack;
      text-decoration: none;

      // desktop size media queries at 1200px
      @media screen and (min-width: 1200px) {
        font-size: 1.8rem;
      }
    }

    &:not(:last-child) {
      margin-right: 1.5rem;

            // desktop size media queries at 1200px
      @media screen and (min-width: 1200px) {
         margin-right: 3rem;
      }
    }
  }
}