#mainLogo {
  width: 41%;
  position: relative;
  top: 2.4rem;
  left: 16rem;


    // XS mobile media queries at 375px
    @media screen and (min-width: 375px) {
      left:  19rem;
    }

    // tablet size media queries at 760px
    @media screen and (min-width: 760px) {
      width: 19%;
      top: 2.8rem;
      left:  3rem;
      position: fixed;
      z-index: 9999;
    }

    // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      width: 16%;
      left:  8rem;
    }

}