#bm {
  position: absolute;
  top: 4%;

    // mobile media queries at 375px
    @media screen and (min-width: 375px) {
      top: 6%;
    }

    // tablet size media queries at 760px
    @media screen and (min-width: 760px) {
      top: 4rem;
      left: 28rem;
      width: 62%;
    }

    // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      top: 1rem;
      left: 56rem;
      width: 60%;
    }

  
}