#bm {
  position: absolute;
  top: 50%;

    // tablet size media queries at 760px
    @media screen and (min-width: 760px) {
      top: 14rem;
      left: 28rem;
      width: 80%;
    }

    // desktop size media queries at 1200px
    @media screen and (min-width: 1200px) {
      top: 10rem;
      left: 56rem;
      width: 60%;
    }

  
}